/* src/app/_styles/_components/Background.module.css */

@-webkit-keyframes drift {
  0% {
    opacity: 1;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }
}
@keyframes drift {
  0% {
    opacity: 1;
    transform: translateX(105%);
  }
  100% {
    opacity: 1;
    transform: translateX(-5%);
  }
}
/* Float 1 */
@-webkit-keyframes float1 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(140%);
    transform: translateY(140%);
  }
}
@keyframes float1 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(140%);
    transform: translateY(140%);
  }
}
/* Float 2 */
@-webkit-keyframes float2 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
  }
}
@keyframes float2 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
  }
}
/* Float 3 */
@-webkit-keyframes float3 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
}
@keyframes float3 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
}
/* Float 4 */
@-webkit-keyframes float4 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(135%);
    transform: translateY(135%);
  }
}
@keyframes float4 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(135%);
    transform: translateY(135%);
  }
}
/* Float 5 */
@-webkit-keyframes float5 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(95%);
    transform: translateY(95%);
  }
}
@keyframes float5 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(95%);
    transform: translateY(95%);
  }
}
/* Float 6 */
@-webkit-keyframes float6 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(125%);
    transform: translateY(125%);
  }
}
@keyframes float6 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(125%);
    transform: translateY(125%);
  }
}
/* Float 7 */
@-webkit-keyframes float7 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(80%);
    transform: translateY(80%);
  }
}
@keyframes float7 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(80%);
    transform: translateY(80%);
  }
}
/* Float 8 */
@-webkit-keyframes float8 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
  }
}
@keyframes float8 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
  }
}
/* Float 9 */
@-webkit-keyframes float9 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(160%);
    transform: translateY(160%);
  }
}
@keyframes float9 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(160%);
    transform: translateY(160%);
  }
}
/* Float 10 */
@-webkit-keyframes float10 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
  }
}
@keyframes float10 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
  }
}
.drift {
  -webkit-animation-name: drift;
  animation-name: drift;
  -webkit-animation-timing-function: cubic-bezier(0.12, 0.32, 0.92, 0.63);
  animation-timing-function: cubic-bezier(0.12, 0.32, 0.92, 0.63);
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.drift1 {
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}

.drift2 {
  -webkit-animation-duration: 9.7s;
  animation-duration: 9.7s;
}

.drift3 {
  -webkit-animation-duration: 7.5s;
  animation-duration: 7.5s;
}

.drift4 {
  -webkit-animation-duration: 9.3s;
  animation-duration: 9.3s;
}

.drift5 {
  -webkit-animation-duration: 6.5s;
  animation-duration: 6.5s;
}

.drift6 {
  -webkit-animation-duration: 8.5s;
  animation-duration: 8.5s;
}

.drift7 {
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
}

.drift8 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.drift9 {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

.drift10 {
  -webkit-animation-duration: 12.5s;
  animation-duration: 12.5s;
}

.float {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.float1 {
  -webkit-animation-name: float1;
  animation-name: float1;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
}

.float2 {
  -webkit-animation-name: float2;
  animation-name: float2;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.float3 {
  -webkit-animation-name: float3;
  animation-name: float3;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.float4 {
  -webkit-animation-name: float4;
  animation-name: float4;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
}

.float5 {
  -webkit-animation-name: float5;
  animation-name: float5;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

.float6 {
  -webkit-animation-name: float6;
  animation-name: float6;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

.float7 {
  -webkit-animation-name: float7;
  animation-name: float7;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.float8 {
  -webkit-animation-name: float8;
  animation-name: float8;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

.float9 {
  -webkit-animation-name: float9;
  animation-name: float9;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}

.float10 {
  -webkit-animation-name: float10;
  animation-name: float10;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}

/* Animation Delays */
.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.delay4 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.delay5 {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated {
  position: relative;
  overflow: hidden;
}

.animated .floating {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: -10;
}
.animated .floating_li {
  opacity: 0;
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  text-align: left;
}
.animated .floating_li {
  font-size: 14px;
}
@media (min-width: 550px) {
  .animated .floating_li {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .animated .floating_li {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .animated .floating_li {
    font-size: 20px;
  }
}
.animated .floating_li {
  font-size: 20px;
}
@media (min-width: 550px) {
  .animated .floating_li {
    font-size: 23px;
  }
}
@media (min-width: 768px) {
  .animated .floating_li {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  .animated .floating_li {
    font-size: 29px;
  }
}
.animated .floating_li {
  font-size: 30px;
}
@media (min-width: 550px) {
  .animated .floating_li {
    font-size: 42px;
  }
}
@media (min-width: 768px) {
  .animated .floating_li {
    font-size: 53px;
  }
}
@media (min-width: 992px) {
  .animated .floating_li {
    font-size: 66px;
  }
}
.animated .floating_li:nth-of-type(1) {
  top: 27%;
}
.animated .floating_li:nth-of-type(2) {
  top: 92%;
}
.animated .floating_li:nth-of-type(3) {
  top: 22%;
}
.animated .floating_li:nth-of-type(4) {
  top: -20%;
}
.animated .floating_li:nth-of-type(5) {
  top: 55%;
}
.animated .floating_li:nth-of-type(6) {
  top: 9%;
}
.animated .floating_li:nth-of-type(7) {
  top: 78%;
}
.animated .floating_li:nth-of-type(8) {
  top: 40%;
}
.animated .floating_li:nth-of-type(9) {
  top: 33%;
}
.animated .floating_li:nth-of-type(10) {
  top: 70%;
}
.animated .floating_li:nth-of-type(11) {
  top: 18%;
}
.animated .floating_li:nth-of-type(12) {
  top: 48%;
}
.animated .floating_li:nth-of-type(13) {
  top: -2%;
}
.animated .floating_li:nth-of-type(14) {
  top: 90%;
}
.animated .floating_li:nth-of-type(15) {
  top: 40%;
}
